@using Dashboard.Services
@inject LoginService loginService

<div class="top-row navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center ">
            
            @if (!loginService.IsLoggedIn)
            {
                <a href="/login" style="display: inline-block; margin-top: -10px; margin-left: -10px;">
                    <Icon Name="IconName.PersonFill" Size="IconSize.x1" Style=" color: white;" />

                </a>

                <span>Not Logged In</span>

            }
            else
            {
                <a href="/profile" style="display: inline-block; margin-top: -10px; margin-left: -10px;">
                    <img src="@loginService.ImgURL" class="img-fluid rounded-circle profile-image" alt="Profile Image"
                         style="width: 45px; height: 45px; object-fit: cover; margin-top: 7px; margin-right: 5px;" />

                </a>
                <span>Hello, @loginService.Username</span>
            }
        </div>
    </div>
</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <Icon Name="IconName.CloudsFill" Size="IconSize.x4" Style="margin-right: 10px;" /> Weather
            </NavLink>
        </div>  *@       
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <Icon Name="IconName.StickyFill" Size="IconSize.x4" Style="margin-right: 10px;" /> ToDo
            </NavLink>
        </div>        
        
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <Icon Name="IconName.CalendarEventFill" Size="IconSize.x4" Style="margin-right: 10px;" /> Calender
            </NavLink>
        </div> *@          
            
        
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="news">
                <Icon Name="IconName.Newspaper" Size="IconSize.x4" Style="margin-right: 10px;" /> News
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <Icon Name="IconName.CameraReelsFill" Size="IconSize.x4" Style="margin-right: 10px;" /> Movies
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <Icon Name="IconName.GearFill" Size="IconSize.x4" Style="margin-right: 10px;" /> Settings
            </NavLink>
        </div>

        @if (loginService.IsLoggedIn && loginService.IsAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <Icon Name="IconName.PersonFillGear" Size="IconSize.x4" Style="margin-right: 10px;" /> admin
                </NavLink>
            </div>
        }

    </nav>
</div>
