@page "/locations"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Dashboard.Model
@using Dashboard.Connect
@inject Dashboard.Services.LoginService loginService
@inject Dashboard.Connect.DashboardDbContext DB


<PageTitle>Index</PageTitle>


@if (loginService.IsLoggedIn && loginService.IsAdmin)
{
    <h1>Index</h1>


    <QuickGrid Class="table" Items="DB.Locations">
        <PropertyColumn Property="location => location.UserId" />
        <PropertyColumn Property="location => location.ZipCode" />
        <PropertyColumn Property="location => location.CityName" />
        <PropertyColumn Property="location => location.Country" />

        <TemplateColumn Context="location">
            <a href="@($"locations/edit?id={location.Id}")">Edit</a> |
            <a href="@($"locations/details?id={location.Id}")">Details</a> |
            <a href="@($"locations/delete?id={location.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
}
else
{
    <p>You do not have permission to view this page.</p>
    @if (!loginService.IsLoggedIn)
    {
        <p>Please <a href="/login">log in</a>.</p>
    }
}