@page "/users/create"

@using Microsoft.EntityFrameworkCore
@using Dashboard.Model
@inject NavigationManager NavigationManager
@inject DashboardDbContext DbContext

<PageTitle>Create Account</PageTitle>

<h1>Create Account</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="User" OnValidSubmit="AddUser">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <InputText id="username" @bind-Value="User.Username" class="form-control" />
                <ValidationMessage For="() => User.Username" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <InputText id="password" @bind-Value="User.Password" class="form-control" />
                <ValidationMessage For="() => User.Password" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <InputText id="email" @bind-Value="User.Email" class="form-control" />
                <ValidationMessage For="() => User.Email" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/profile">Back to List</a>
</div>

@code {

    public User User { get; set; } = new();

    public async Task AddUser()
    {
        // Add the user to the database
        DbContext.Users.Add(User);
        await DbContext.SaveChangesAsync();

        // Redirect to the location creation page with the user's ID as a query parameter
        NavigationManager.NavigateTo($"/profile");
    }
}
