@page "/users"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Dashboard.Model
@using Dashboard.Connect
@inject IDbContextFactory<Dashboard.Connect.DashboardDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Users">
    <PropertyColumn Property="user => user.Username" />
    <PropertyColumn Property="user => user.Password" />
    <PropertyColumn Property="user => user.Email" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    DashboardDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
