@page "/TodoLists/edit"

@using Microsoft.EntityFrameworkCore
@using Dashboard.Model
@inject IDbContextFactory<Dashboard.Connect.DashboardDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>TodoList</h4>
<hr />
@if (TodoList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="TodoList" OnValidSubmit="UpdateTodoList" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="TodoList.Id" value="@TodoList.Id" />
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputNumber id="userid" @bind-Value="TodoList.UserId" class="form-control" />
                    <ValidationMessage For="() => TodoList.UserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="tododue" class="form-label">TodoDue:</label>
                    <InputDate id="tododue" @bind-Value="TodoList.TodoDue" class="form-control" />
                    <ValidationMessage For="() => TodoList.TodoDue" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="TodoList.Title" class="form-control" />
                    <ValidationMessage For="() => TodoList.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="TodoList.Description" class="form-control" />
                    <ValidationMessage For="() => TodoList.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="TodoList.DateCreated" class="form-control" />
                    <ValidationMessage For="() => TodoList.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isdone" class="form-label">isDone:</label>
                    <InputCheckbox id="isdone" @bind-Value="TodoList.isDone" class="form-check-input" />
                    <ValidationMessage For="() => TodoList.isDone" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/todolists">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public TodoList? TodoList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        TodoList ??= await context.TodoLists.FirstOrDefaultAsync(m => m.Id == Id);

        if (TodoList is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateTodoList()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(TodoList!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TodoListExists(TodoList!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/todolists");
    }

    bool TodoListExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.TodoLists.Any(e => e.Id == id);
    }
}
