/* Container for the pinned to-do styled like a sticky note */
.pinned-todo-item {
    max-width: 300px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--sticky-note-border-color);
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    /*transform: rotate(-2deg);*/ /* Slight rotation to mimic a sticky note */
}

    /* Title of the sticky note */
    .pinned-todo-item .title h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #333;
    }

    /* Description text in the sticky note */
    .pinned-todo-item .text {
        font-size: 1.1em;
        margin-bottom: 10px;
    }

/* Progress circle dot styling */
.progress-circle-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

    /* Completed and in-progress colors */
    .progress-circle-dot.red {
        background-color: red;
    }

    .progress-circle-dot.green {
        background-color: green;
    }


/* Sticky note with a dashed border */
.sticky-note {
    border: 2px dashed var(--sticky-note-border-color);
}
