@page "/"
@using Dashboard.Components.Pages.WeatherPage
@using Dashboard.Components.Pages.NewsPage
@using Dashboard.Components.Pages.TodoListPages

<PageTitle>Home</PageTitle>

<h1><strong>Dashboard</strong></h1>

<div class="dashboard-container">
    @if (showWeather)
    {
        <div class="widget-container">
            <div class="widget-header">
                <h2>Weather</h2>
                <button class="remove-btn" @onclick="RemoveWeather">X</button>
            </div>
            <Weather />
        </div>
    }

    @if (showNews)
    {
        <div class="widget-container">
            <div class="widget-header">
                <h2>News</h2>
                <button class="remove-btn" @onclick="RemoveNews">X</button>
            </div>
            <News />
        </div>
    }
    @if (showTodo)
    {
        <div class="widget-container">
            <div class="widget-header">
                <h2>Todo</h2>
                <button class="remove-btn" @onclick="RemoveTodo">X</button>
            </div>
            <TodoPinned />
        </div>
    }
</div>

<div class="floating-controls" @onclick="ToggleControlPanel">
@*     <p style="margin-top:10px;">+</p>*@
    <Icon Name="IconName.Plus" Size="IconSize.x3" Style=""  />

</div>

@if (showControlPanel)
{
    <div class="control-panel">
        <button class="add-btn" @onclick="AddWeather">Add Weather</button>
        <button class="add-btn" @onclick="AddNews">Add News</button>
        <button class="add-btn" @onclick="AddTodo">Add Todo</button>
    </div>
}

@code {
    private bool showWeather = true;
    private bool showNews = true;
    private bool showTodo = true;
    private bool showControlPanel = false;

    private void RemoveWeather()
    {
        showWeather = false;
    }

    private void RemoveNews()
    {
        showNews = false;
    }
    private void RemoveTodo()
    {
        showTodo = false;
    }

    private void AddWeather()
    {
        showWeather = true;
        showControlPanel = false; 
    }

    private void AddNews()
    {
        showNews = true;
        showControlPanel = false; 
    }
    
    private void AddTodo()
    {
        showNews = true;
        showControlPanel = false; 
    }

    private void ToggleControlPanel()
    {
        showControlPanel = !showControlPanel;
    }
}
