@page "/profile"
@using Microsoft.EntityFrameworkCore
@using Dashboard.Model
@inject NavigationManager Nav
@inject Dashboard.Connect.DashboardDbContext DB
@inject Dashboard.Services.LoginService loginService

<h1>Profile</h1>

@if (loginService?.IsLoggedIn == true)
{
    @if(user != null){
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile Details</h4>
                <p class="card-text"><strong>Username:</strong> @user.Username</p>
                <p class="card-text"><strong>Email:</strong> @user.Email</p>
            </div>
        </div>
    }
    else
    {
        <p>Please Login...</p>
    }

}
else
{
    <p>Please Login...</p>
}

@code {
    User? user;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(loginService != null && loginService.IsLoggedIn)
        {
            user = await DB.Users.FirstOrDefaultAsync(m => m.Id == loginService.Id);

            if (user is null)
            {
                Nav.NavigateTo("notfound");
            }
        }
        else
        {
            Nav.NavigateTo("/login");
        }

        
    }
}
